.body{
            width: 100%;
            background: #e9e9e9;
            display: flex;
            overflow: auto;
            justify-content: center;
            flex-direction: column;
            .navbar{
                width: 80%px;
            }
            .dashboard{
                display: flex;
                flex-wrap: wrap;
                .doubtBar{
                    flex:4;
                }
                .sidebar{
                    flex: 2;
                }
            }
            @media screen and (max-width: 748px) {
                .dashboard{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
