
.body{
            height: 100vh;
            width: 100%;
            background: #d3d3d3;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .navbar{
                height: 10vh;
                width: 80%px;
            }
            .dashboard{
                display: flex;
                // @media screen and (max-width: 500px){
                //     flex-direction: column;
                // }
                flex-wrap: wrap;
                justify-content: space-between;
                height: 90vh;
                .doubtBar{
                    flex:4;
                }
                .sidebar{
                    flex: 2;
                }
            }
        }
