 .navbar{
    background-color: #f4db2a;
    display: flex;
    flex-direction: row;
    height: 50px;
    position: sticky;
    padding-top: 0%;
    
    .logo{
        flex: 3.5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        .lg-logo{
            font-size: 3.5em;
            margin: 0px 10px;
        }
        .lg-appname{
            font-size: 1rem;
            font-weight: 500;
        }
    }
    .links{
        margin-top: 5px;
        flex: 5;
        display: flex;
        align-items: center;
        .core-link{
            .core-link-ds{
                text-decoration: none;
                padding: 5px 20px;
                text-align: center;
                border-radius: 15px;
                color: #1b1c1e;
                font-weight: 500;
                &:hover{
                    background-color: #1b1c1e;
                    color: #f4db2a;

                }
            }
        }
    }
    .wallet{
        margin-top: 5px;
        flex: 2;
        background-color: beige;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logout{
        margin-top: 5px;
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: bisque;
    }
    .support-settings{
        margin-top: 5px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
    }
}

@media screen and (max-width: 550.99px){
    .navbar{
        display: none;
    }
}
.mobile-navbar{
    background-color: #f4db2a;
    display: flex;
    flex-direction: row;
    height: 50px;
    top: 0%;
    position: sticky;
    align-items: center;
    justify-content: space-between;    
    .logo-mobile{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo{
        padding-left: 20px;
        font-size: 3.5em;
        color: #1b1c1e;
        }
        .appname{
            padding-left: 10px;
            color: #1b1c1e;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

@media screen and (min-width: 551px){
    .mobile-navbar{
        display: none;
    }
}
.toggle-menu{
    .menu-container{
        position: relative;
        height: 50vh;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: #f4db2a;
        -moz-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-name: opencontainer;
        -webkit-animation-name: opencontainer;
        -moz-animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        .mob-link{
            display: flex;
            width: 80%;
            flex-direction: column;
            align-items: center;
            color: #1b1c1e;
            gap: 10px;
            padding-bottom: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #1b1c1e;
        }
        .mob-wallet-support{
            display: flex;
            width: 80%;
            flex-direction: column;
            align-items: center;
            color: #1b1c1e;
            gap: 10px;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #1b1c1e;
        }
        .signing-button-div{
            margin-top: 20px;
            margin-bottom: 35px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                outline: none;
                height: 35px;
                width: 200px;
                background-color: #f4db2a;
                color:#1b1c1e;
                border: 1px solid #1b1c1e;
                border-radius: 30px;
                font-weight: 500;
                -moz-animation-duration: 500ms;
                -webkit-animation-duration: 500ms;
                -moz-animation-name: fadeIn;
                -webkit-animation-name: fadeIn;
                -moz-animation-iteration-count: 1;
                -webkit-animation-iteration-count: 1;
                &:focus{
                    background-color: #1b1c1e;
                    color:#f4db2a;
                }
                &:hover{
                    background-color: #1b1c1e;
                    color:#f4db2a;
                }
            }
        }
        .routing-div{
            margin-top: 20px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            .stop-routing{
                outline: none;
                height: 35px;
                width: 200px;
                background-color: #CC3636;
                color:#1b1c1e;
                border: 1px solid #1b1c1e;
                border-radius: 30px;
                font-weight: 500;
                -moz-animation-duration: 500ms;
                -webkit-animation-duration: 500ms;
                -moz-animation-name: fadeIn;
                -webkit-animation-name: fadeIn;
                -moz-animation-iteration-count: 1;
                -webkit-animation-iteration-count: 1;
                &:focus{
                    background-color: #f4db2a;
                    color:#1b1c1e;
                }
                &:hover{
                    background-color: #1b1c1e;
                    color:#f4db2a;
                }
            }
            .routing-on{
                outline: none;
                height: 35px;
                width: 200px;
                background-color: #1B6B93;
                color:white;
                border: 1px solid #1b1c1e;
                border-radius: 30px;
                font-weight: 500;
                -moz-animation-duration: 500ms;
                -webkit-animation-duration: 500ms;
                -moz-animation-name: fadeIn;
                -webkit-animation-name: fadeIn;
                -moz-animation-iteration-count: 1;
                -webkit-animation-iteration-count: 1;
                &:focus{
                    background-color: #f4db2a;
                    color:#1b1c1e;
                }
                &:hover{
                    background-color: #1b1c1e;
                    color:#f4db2a;
                    border: 1px solid #1b1c1e;
                }
            }
        }

    }
    .close-menu-container{
        position: relative;
        height: 0;
        background-color: #f4db2a;
        animation: closecontainer ease 200ms;
        -webkit-animation: closecontainer ease 200ms;
        -moz-animation: closecontainer ease 200ms;
        -o-animation: closecontainer ease 200ms;
        -ms-animation: closecontainer ease 200ms;
        .mob-link{
            display: none;
            border: none;
        }
        .mob-wallet-support{
            display: none;
            border: none;
        }
        .signing-button-div{
            display: none;
            .logout{
                display: none;
            }
        }
        .routing-div{
            display: none;
            .stop-routing{
                display: none;
            }
            .routing-on{
                display: none;
            }
        }
        h6{
            display: none;
        }
    }
}

@-webkit-keyframes opencontainer  {
    from {
        height: 0vh;
     }

     to {
        height: 50vh;
     }
}
@-webkit-keyframes closecontainer  {
    from {
        height: 50vh;
     }

     to {
        height: 0vh;
     }
}
@keyframes fadeIn  {
    0% {
        opacity: 0;
     }
     25% {
        opacity: 0;
     }
     50% {
        opacity: 0;
     }
     75% {
        opacity: 0.5;
     }

     100% {
        opacity: 1;
     }
}
@-moz-keyframes fadeIn  {
    0% {
        opacity: 0;
     }
     25% {
        opacity: 0;
     }
     50% {
        opacity: 0;
     }
     75% {
        opacity: 0.5;
     }

     100% {
        opacity: 1;
     }
}
@-webkit-keyframes fadeIn  {
    0% {
        opacity: 0;
     }
     25% {
        opacity: 0;
     }
     50% {
        opacity: 0;
     }
     75% {
        opacity: 0.5;
     }

     100% {
        opacity: 1;
     }
}

@media screen and (min-width: 550px){
    .toggle-menu{
        display: none;
    }
}