@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap');

.tablet-navbar{
    display: none;
}
.navbar{
    display: none;
}
.mobile-navbar{
    display: none;
}

@media screen and (min-width: 961px) {
    .mobile-navbar{
        display: none;
    }
    .tablet-navbar{
        display: none;
    }
    .toggle-menu{
        display:none
    }
    .toggle-menu-tablet{
        display: none;
    }
    .navbar{
        flex-direction: row;
        height: 10vh;
        align-items: center;
        display: flex;
        margin-top: 1%;
        @media screen and (min-width: 1300.01px) {
        margin-left: 10%;
        margin-right: 10%;
        transition: .5s ease-out;
        }
        @media screen and (min-width: 961.01px) and (max-width: 1300.0px) {
            margin-left: 2%;
            margin-right: 2%;
            transition: .5s ease-out;
            }
        border-radius: 10px;
        background-color: #141414;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Rubik', sans-serif;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .logo{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-right: 1px solid gray;
            color:#19A7CE;
            gap: 10px
            // .lg-logo{
            //     font-size: 3.5em;
            //     color: whitesmoke;
            // }
            // .lg-appname{
            //     font-size: 1rem;
            //     font-weight: 500;
            //     color: whitesmoke;
            // }
        }
        .links{
            flex: 1;
            display: flex;
            height: 100%;
            align-items: center;
            margin-left: 20%;
            .core-link{
                .core-link-ds{
                    text-decoration: none;
                    padding: 3px 20px;
                    text-align: center;
                    color: whitesmoke;
                    font-weight: 500;
                    &:hover{
                        border-bottom: 2px solid whitesmoke;
                    }
                }
            }
        }
        .right-toggle{
            display: flex;
            gap: 20px;
            margin-right: 5%;
            .routing-toggle{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                .stop-routing-lg{
                    outline: none;
                    height: 50px;
                    width: 50px;
                    background: #FF6D60;
                    color:white;
                    border: none;
                    border-radius: 50%;
                    font-weight: 500;
                    font-size: 23px;
                    padding-right: -2px;
                    padding-bottom: 3px;
                    &:hover{
                        background-color: #E21818;
                    transition: .5s ease-out;
                    }
                }
                .routing-on-lg{
                    outline: none;
                    height: 50px;
                    width: 50px;
                    background: #19A7CE;
                    color:white;
                    border: none;
                    border-radius: 50%;
                    font-weight: 500;
                    padding-right: -2px;
                    padding-bottom: 3px;
                    animation: pulse 2s infinite;
                    &:hover{
                    background-color: #146C94;
                    transition: .5s ease-out;
                    }
                }
            }
            .logout{
                display: flex;
                align-items: center;
                .logout-lg{
                    height: 50px;
                    width: 50px;
                    background: none;
                    color:#061330;
                    border:none;
                    border-radius: 50%;
                    font-weight: 500;
                    .logout-span{
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        .logout-icon{
                            font-size: 25px;
                            color: white;
                        }
                    }
                    &:hover{
                    .logout-icon{
                            color: #E21818;
                            transition: .5s ease-out;
                        }
                    }
                }
            }
            .support-settings{
                flex: .5;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                .settings{
                    font-size:28px;
                    color: whitesmoke;
                    background: none;
                    &:hover{
                        color: #19A7CE;
                        transition: .5s ease-out;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
}
 


@media screen and (min-width: 500px) and (max-width: 961px){
    .mobile-navbar{
        display: none
    }
    .navbar{
        display: none
    }
    .toggle-menu{
        display:none
    }

    .tablet-navbar{
        background-color: #141414;
        display: flex;
        flex-direction: row;
        @media screen and (min-width: 500px) and (max-width: 961px){
            height: 5vh;
            margin-top: 1%;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 30px;
            transition: .5s ease-out;
        }
        position: sticky;
        align-items: center;   
        justify-content: center;
        
        .logo-tablet{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10%;
            .logo{
            color: #19A7CE;
            span{
                @media screen and (max-width: 736px) {
                    display: none;
                    transition: .5s ease;
                }
                padding-left: 10px;
                color: #19A7CE;
                font-size: 1rem;
                font-weight: 600;
            }
            }
            
        }
        .links-tablet{
            flex: 3;
            display: flex;
           gap:20px;
           justify-content: flex-end;
           margin-right: 30px;
           .link-tab{
            color: #19A7CE;
            border-radius: 10px;
            padding: 3px 3px;
            &:hover{
                background-color:#1b1c1e;
                box-shadow: #f8f8f8 0px 3px 8px;
                transition: .5s ease-out;
            }
           }
        }
        .right-toggle{
            display: flex;
            gap: 20px;
            margin-right: 5%;
            .routing-toggle{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                .stop-routing-lg{
                    outline: none;
                    height: 25px;
                    width: 25px;
                    background: #FF6D60;
                    color:white;
                    border: none;
                    border-radius: 50%;
                    color: #061330;
                    padding-bottom: 3px;
                    text-align: center;
                    &:focus{
                        background-color: #E21818;
                    transition: .5s ease-out;
                    }
                }
                .routing-on-lg{
                    outline: none;
                    height: 25px;
                    width: 25px;
                    background: #19A7CE;
                    color:white;
                    border: none;
                    border-radius: 50%;
                    font-weight: 500;
                    padding-right: -2px;
                    padding-bottom: 3px;
                    text-align: center;
                    animation: pulse 2s infinite;
                    &:focus{
                    background-color: #146C94;
                    transition: .5s ease-out;
                    }
                }
            }
            .logout{
                display: flex;
                align-items: center;
                .logout-lg{
                    height: 35px;
                    width: 35px;
                    background: none;
                    color:#061330;
                    border:none;
                    border-radius: 50%;
                    font-weight: 500;
                    text-align: center;
                    .logout-span{
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        .logout-icon{
                            font-size: 25px;
                            color: #E21818;
                            text-align: center;
                        }
                    }
                    &:focus{
                    .logout-icon{
                            color: #E21818;
                            transition: .5s ease-out;
                        }
                    }
                }
            }
            .support-settings{
                flex: .5;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                .settings{
                    font-size:25px;
                    color: #19A7CE;
                    background: none;
                    &:hover{
                        color: #19A7CE;
                        transition: .5s ease-out;
                        cursor: pointer;
                    }
                }
            }
        }
         
    }
}


@media screen and (max-width: 500px){
.mobile-navbar{
        background-color: #141414;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 5px;
        border-radius: 30px;
        color: #19A7CE;
        .logo-mobile{
            margin-left: 10px;
            .logo{
                span{
                    margin-left: 5px;
                }
            }
        }
        .right-box{
            display: flex;
            .routing-toggle{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                .stop-routing{
                    outline: none;
                    height: 30px;
                    width: 30px;
                    background: #FF6D60;
                    color:white;
                    border: none;
                    border-radius: 50%;
                    color: #061330;
                    padding-bottom: 3px;
                    text-align: center;
                    &:focus{
                    background-color: #E21818;
                    transition: .5s ease-out;
                    }
                }
                .routing-on{
                    outline: none;
                    height: 30px;
                    width: 30px;
                    background: #19A7CE;
                    color:white;
                    border: none;
                    border-radius: 50%;
                    font-weight: 500;
                    padding-right: -2px;
                    padding-bottom: 3px;
                    text-align: center;
                    animation: pulse 2s infinite;
                    &:focus{
                    background-color: #146C94;
                    transition: .5s ease-out;
                    }
                }
            }

        }
    }
}



.toggle-menu{
    .menu-container{
        position: absolute;
        height: 40vh;
        width : 60px;
        right: 0%;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 30px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-color: #141414;
        -moz-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-name: opencontainer;
        -webkit-animation-name: opencontainer;
        -moz-animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        .mob-link{
        flex: 4;
        display: flex;
        flex-direction: column;
        gap:20px;
        justify-content: flex-start;
        margin-top: 30px;
           .link-tab{
            color: #19A7CE;
            border-radius: 10px;
            padding: 3px 3px;
            padding-top: 10px;
            &:focus{
                background-color:#1b1c1e;
                box-shadow: #f8f8f8 0px 3px 8px;
                transition: .5s ease-out;
            }
           }
        }
        .logout{
            flex:2;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            .logout-lg{
                height: 35px;
                width: 35px;
                background: none;
                color:#061330;
                border:none;
                border-radius: 50%;
                font-weight: 500;
                text-align: center;
                padding-bottom: 40px;
                .logout-span{
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .logout-icon{
                        font-size: 25px;
                        color: #E21818;
                        text-align: center;
                    }
                }
                &:focus{
                .logout-icon{
                        color: #E21818;
                        transition: .5s ease-out;
                    }
                }
            }
        }
        .support-settings{
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            .settings{
                font-size:25px;
                color: #19A7CE;
                background: none;
                &:focus{
                    color: #E21818;
                    transition: .5s ease-out;
                    cursor: pointer;
                }
            }
        }
    }
    .close-menu-container{
        position: absolute;
        height: 40vh;
        width: 20%;
        animation: closecontainer ease 200ms;
        -webkit-animation: closecontainer ease 200ms;
        -moz-animation: closecontainer ease 200ms;
        -o-animation: closecontainer ease 200ms;
        -ms-animation: closecontainer ease 200ms;
        .mob-link{
            display: none;
            border: none;
        }
        .support-settings{
            display: none;
            .logout{
                display: none;
            }
        }
        .logout{
            display: none;
            .stop-routing{
                display: none;
            }
            .routing-on{
                display: none;
            }
        }
        h6{
            display: none;
        }
    }
}

@-webkit-keyframes opencontainer  {
    from {
        height: 0vh;
     }

     to {
        height: 40vh;
     }
}
@-webkit-keyframes closecontainer  {
    from {
        height: 40vh;
     }

     to {
        height: 0vh;
     }
}
@keyframes fadeIn  {
    0% {
        opacity: 0;
     }
     25% {
        opacity: 0;
     }
     50% {
        opacity: 0;
     }
     75% {
        opacity: 0.5;
     }

     100% {
        opacity: 1;
     }
}
@-moz-keyframes fadeIn  {
    0% {
        opacity: 0;
     }
     25% {
        opacity: 0;
     }
     50% {
        opacity: 0;
     }
     75% {
        opacity: 0.5;
     }

     100% {
        opacity: 1;
     }
}
@-webkit-keyframes fadeIn  {
    0% {
        opacity: 0;
     }
     25% {
        opacity: 0;
     }
     50% {
        opacity: 0;
     }
     75% {
        opacity: 0.5;
     }

     100% {
        opacity: 1;
     }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(42, 137, 201, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(42, 137, 201, 0.1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(42, 137, 201, 0);
    }
  }